*.suo
*.tlog
*.swp
*.cache
*.g.i.cs
*.g.cs
FinalProjectV1/FinalProjectV1/obj
obj/Debug
bin/
Microsoft.Samples.Kinect.WpfViewers_MarkupCompile.i.lref
Microsoft.Samples.Kinect.WpfViewers_MarkupCompile.lref
Microsoft.Samples.Kinect.WpfViewers.dll
Microsoft.Samples.Kinect.WpfViewers.pdb
